.intro {
    position: relative;
    top: 300px;
    left: 50%;
    margin-top: -200px;
    margin-left: -600px;
    box-shadow: 3px 3px 10px 5px #ccc;
    width: 1200px;
    border-radius: 25px;
    padding: 20px;
}

.intro img {
    width: 200px;
    height: 200px;
    border: 8px solid #666;
    border-radius: 100%;
}

.layer-two-center {
    text-align: center;
    position: relative;
    bottom: -330px;
}

.layer-two-right {
    width:560px;
    height: 400px;
    box-shadow: 3px 3px 10px 5px #ccc;
    position: relative;
    bottom: -350px;
    margin: 20px 20px 20px 60px;
    padding: 20px;
    border-radius: 25px;
}

.layer-two-right ul {
    padding: 30px;
}

.layer-two-right li {
    margin: 20px 20px 20px 20px;
    font-family: "Actor";
    font-size: 16px;
}


.layer-two-left {
    width:560px;
    height: 400px;
    box-shadow: 3px 3px 10px 5px #ccc;
    position: relative;
    bottom: -350px;
    margin: 20px 20px 20px 60px;
    padding: 20px;
    border-radius: 25px;
}

.layer-two-left ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    padding: 20px;
}

.layer-two-left li {
    margin: 20px;
    font-family: "Allerta Stencil";
    font-size: 15px;
}

.layer-three-center {
    width: 1200px;
    position: relative;
    bottom: -400px;
    box-shadow: 3px 3px 10px 5px #ccc;
    border-radius: 20px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.layer-three-center ul {
    position:relative;
}

.layer-three-center li {
    list-style-type: none;
    display: inline;
    padding: 15px;
    margin-left: 120px;
}