
.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -250px;
    box-shadow: 3px 3px 10px 5px #ccc;
    width: 500px;
    border-radius: 25px;
    padding: 20px;
}

.intro img {
    width: 200px;
    height: 200px;
    border: 8px solid #666;
    border-radius: 100%;
}

